<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Teach Me : 내가 고르는 강의</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/favor.css}">
</head>
<body>
    <div class="content" layout:fragment="content">
        <div style="display: flex; justify-content: center; gap: 20px; flex-direction: column; align-items: center; background-color: white; padding-top: 50px; width: 80%; margin: 0 auto; border-radius: 15px; margin-bottom: 100px;">
            <h3>mypage</h3>
        </div>
        <div class="parent-div">
            <div th:each="favorLectures : ${lectures}" class="lecture_table">
                <span th:text="favorLecture">내용 </span>

            </div>
        </div>
    </div>
</body>
</html>