<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/defaultLayout}">

<head>
  <link rel="stylesheet" type="text/css" href="style/signin.css">
</head>
<body>
<div class="container" layout:fragment="content">
  <form class="form-signin" method="post" th:action="@{/login}">
    <h2 class="form-signin-heading">로그인</h2>
    <p>
      <label for="username" class="sr-only">Id</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <div>
      <span>로그인 유지하기</span>
      <input type="checkbox" id="remember-me" name="remember-me" class="form-check-input mt-0" autocomplete="off">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
  </form>
</div>
</body>
</html>