<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/defaultLayout}">

<head>
  <link rel="stylesheet" type="text/css" href="style/signin.css">
</head>
<body>
<div class="container" layout:fragment="content">
  <form class="form-signin" method="post" th:action="@{/member/signup}">
    <h2 class="form-signin-heading">회원가입</h2>
    <p>
      <label for="username" class="sr-only">Id</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </p>
    <p>
      <label for="name" class="sr-only">Name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
  </form>
</div>
</body>
</html>