/* 부모 요소 스타일 */
.parent-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
}

.card {
    width: calc(33.3333% - 20px);
}