<div th:fragment="advertiseFragment" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="height: 200px;">
    <div class="carousel-inner" style="z-index: -1">
        <div class="carousel-item active">
            <img th:src="@{/img/banner1.png}" class="d-block w-100" alt="..." style="height: 150px;">
        </div>
        <div class="carousel-item">
            <img th:src="@{/img/banner2.png}" class="d-block w-100" alt="..." style="height: 150px;">
        </div>
        <div class="carousel-item">
            <img th:src="@{/img/banner3.png}" class="d-block w-100" alt="..." style="height: 150px;">
        </div>
    </div>
</div>