<!DOCTYPE HTML>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<!-- fragment : advertise -->
<body>
<div th:fragment="advertiseFragment" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="height: 200px;">
  <div class="carousel-inner" style="z-index: -1">
    <div class="carousel-item active">
      <img th:src="@{images}" class="d-block w-100" alt="..." style="height: 150px;">
    </div>
    <div class="carousel-item">
      <img th:src="@{images}" class="d-block w-100" alt="..." style="height: 150px;">
    </div>
    <div class="carousel-item">
      <img th:src="@{images}" class="d-block w-100" alt="..." style="height: 150px;">
    </div>
  </div>
</div>
</body>