#main-img-wrapper {
    text-align: center;
}

#intro-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 10px auto;
    width: 300px;
    color: black;
    font-size: 28px;
    font-weight: 500;
}

#intro-main p {
    text-align: center;
}

#go-list-text {
    margin-top: 30px;
    opacity: 0.6;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#down-arrow-icon {
    margin-top: 15px;
    opacity: 0.6;
    animation: upAndDown 1s infinite;
    font-size: 15px;
}

#list-item-wrapper {
    width: 383px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.list-item {
    display: inline;
    font-size: 35px;
    font-weight: 600;
    color: #dddddd;
}

.list-item#on {
    color: black;
}