<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Teach Me : 내가 고르는 강의</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}">
 </head>
<body>
    <div class="content" layout:fragment="content">
        <div style="display: flex; justify-content: center; gap: 20px; flex-direction: column; align-items: center; background-color: white; padding-top: 50px; width: 80%; margin: 0 auto; border-radius: 15px; margin-bottom: 100px;">
            <h3>✨최근 추가된 강의</h3>
            <div class="parent-div">
                <div th:if="${#lists.size(lectures) == 0}" style="text-align: center">
                    <p style="color: grey">최근 추가된 강의가 없습니다.😢</p>
                </div>
                <div th:each="lecture : ${lectures}" class="card" style="width: 18rem;">
                    <img th:src="${lecture.img}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${lecture.title}">Card title</h5>
                        <p class="card-text ellipsis" th:text="${lecture.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a th:href="${lecture.url}" class="btn btn-primary">자세히 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>